<!DOCTYPE html>
<!--
  Name: Shohum Boker
  Date: 04.20.2021
  Section: CS 355

  This is the ihome.html page uses home.css, this the home page for instructors from here you can 
  go and manage your courses as an instructor
-->
<html>
    <head>
        <title>Instructor-Home</title>
        <meta charset="utf-8">
        <link href="/css/style.css" rel="stylesheet">
        <link href="/css/home.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>    
    <body>

        <header>
            <a href="/" id="out">Logout</a>
            <a href="/ihome" id="logo"><h2>QC CunyFirst</h2></a>
        </header>
        <nav>
            <a href="/coursemanagement">Course Management</a>
            <a href="/html/icontactHelp.html">Contact/Help</a>
        </nav>
        <section id="main">
        <!-- easy to id the box with current cources with js and css with a div -->
            <div class="box">
                <h1>Current Courses:</h1>
                  <% for (var i = 0; i < info.length; i++) { %> 
                  <ul>
                      <a href="/rost?id=<%= info[i]["_id"]%>" id="<%= info[i]["_id"]%>"><li><h3><%= info[i].CourseName
                      + " " +  info[i].CourseNumber + " - " +
                      info[i].Semester%></h3>
                      <p><% for(var j = 0; j < info[i].DOWS.length; j++){%> 
                            <%= info[i].DOWS[j] %>
                      <% } %>
                      <%= intToTime(info[i].StartTime)
                      + "-" + intToTime(info[i].EndTime)%></p></li></a>
                  </ul>
                <% } %> 
            </div>
            <br>
            <picture>
                <source media="(min-width:992px)" srcset="/img/qc_large.jpg">
                <source media="(min-width:768px)" srcset="/img/qc_med.jpg">
                <img src="/img/qc_small.jpg" alt="campus pic">
            </picture>
        </section>
        <footer>
            <p><a href="/admin" id='none'>&#169 Shohum Boker- 2021</p>
        </footer>
    </body>

</html>